<!DOCTYPE html>
<html>
<head>
    <title>{{ .Site.Title | default "Manuscript Site" }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "assets/css/main.css" | absURL }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" >
    <noscript><link rel="stylesheet" href="{{ "assets/css/noscript.css" | absURL }}"/></noscript>
    <!--<style>
        :root {
            --text: #1e90ff;
            --rgbtext: 190;
            --rgbcode: rgba(90, 90, 90, 0.075);
            --fadecol: #ffffff;
        }
    </style>-->
    <style>
        :root{--site-background : url("{{ .Params.background | default "images/bg.jpg" }}")};
    </style>
    <!-- Include the script that enables Netlify Identity on this page. -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type="text/javascript">
    if ({{ .Site.Params.dark }}) {
        document.documentElement.style.setProperty('--text', '#ffffff');
        document.documentElement.style.setProperty('--rgbtext', '0');
        document.documentElement.style.setProperty('--rgbcode', 'rgba(90, 90, 90, 0.075)');
        document.documentElement.style.setProperty('--fadecol', '#000000');
        document.documentElement.style.setProperty('--article-bgcol', 'rgba(27, 31, 34, 0.85)');
        document.documentElement.style.setProperty('--site-background', 'url("images/bg_original.jpg")');
        document.documentElement.style.setProperty('--overlay-alpha', '0.5');
        document.documentElement.style.setProperty('--close-col', "url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E\")")
    } else {
        document.documentElement.style.setProperty('--text', '#000000');
        document.documentElement.style.setProperty('--rgbtext', '255');
        document.documentElement.style.setProperty('--rgbcode', 'rgba(90, 90, 90, 0.075)');
        document.documentElement.style.setProperty('--fadecol', '#ffffff');
        document.documentElement.style.setProperty('--article-bgcol', 'rgba(249, 249, 249, 0.85)');
        document.documentElement.style.setProperty('--overlay-alpha', '0');
        document.documentElement.style.setProperty('--close-col', "url(\"data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23000000%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E\")")
    }
    </script>
    
</head>