{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a style="border-bottom-color: transparent;" href="{{ .Site.BaseURL }}"><span class="icon fa-brain"></span></a>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <h1>{{ .Site.Params.pubtitle | default "Scientific Title" }}</h1>
                            <authors>{{ .Site.Params.authors | default "John Doe et al." }}</authors>
                            {{ if .Site.Params.description }}
                            <p>
                                {{ .Site.Params.description }}
                            </p>
                            {{ end }}
                        </div>
                    </div>
                    <nav>
                        <ul>
                            {{ with .Site.Menus.main}}
                                {{ range sort . }}
                                    <li>
                                        <a href="#{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                </header>

            <!-- Main -->
                <div id="main">

                    {{ range .Pages }}
                        {{if .Title }}
                            {{if .Content }}
                                <article id="{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">
                                    <h2 class="major">{{ .Title }}</h2>
                                    <span class="image main"><img src="{{ .Params.image }}" alt="" /></span>
                                    {{ .Content }}
                                </article>
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" .}}
